.item-info-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
  line-height: 26px;

  & .img-block {
    flex: 0 0 40.86%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .sticker {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  & .item-text {
    flex: 0 0 56.37%;

    & strong {
      font-weight: $medium;
      font-size: 20px;
    }

    & p:last-child {
      margin-bottom: 0;
    }

    & ul li {
      line-height: 40px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &::before {
        display: block;
        content: '';
        width: 17px;
        height: 2px;
        background-color: $gold-color;
        margin-right: 5px;
      }
    }
  }
}

.item-desc {
  line-height: 26px;
  margin-bottom: 45px;

  & p:last-child {
    margin-bottom: 0;
  }
}
