.category-title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;

  & .category-title {
    margin: 0;
  }

  & .btn {
    min-width: 25.35%;
  }
}

.our-list {
  display: flex;
  flex-wrap: wrap;

  & .our-item {
    flex: 0 0 23.95%;
    min-height: 660px;
    margin-right: 1.4%;
    margin-bottom: 40px;

    &:nth-child(4n + 4) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
