.accaunt-menu {
  width: 0vw;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  transition: 0.3s;
}

.account-menu-open {
  width: 26.5vw;
  height: 100vh;
}
