.breadcrumb {
  margin: 0;
  background: 0;
  padding: 40px 0 23px 0;

  & > span > span {
    & a {
      font-family: $HeadingPro;
      font-size: 12px;
      line-height: 26px;
      color: #979797;
      transition: 0.3s;
      margin-right: 10px;

      &::after {
        display: inline-block;
        content: '-';
        margin-left: 15px;
      }

      &:hover {
        color: #937654;
        text-decoration: underline;
      }
    }

    & span {
      font-family: $HeadingPro;
      font-size: 12px;
      line-height: 26px;
      color: #979797;
      transition: 0.3s;
    }
  }
}
