.contact-block {
  display: flex;
  padding: 0 5% 95px 5%;
  position: relative;

  &:before {
    display: block;
    content: '';
    width: 218px;
    height: 690px;
    background-image: url('../images/Image-cork.jpg');
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(calc(-50% - 47px));
    z-index: -1;
  }

  & .contact-info {
    flex: 0 0 39%;
    background-color: $beige-color;
    padding: 66px 6.65% 65px 8.33%;

    & .title {
      font-family: $HeadingPro;
      font-weight: $bold;
      font-size: 36px;
      line-height: 70px;
      letter-spacing: -0.529412px;
      margin-bottom: 22px;
    }

    & .contact {
      margin-bottom: 40px;

      & .adress,
      .schedule,
      .phone {
        display: flex;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1px;
        color: $text-color;

        & a {
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 1px;
          color: $text-color;
          transition: 0.3s;

          &:hover {
            color: $gold-color;
          }
        }

        & img {
          margin-right: 15px;
        }
      }

      & .adress {
        margin-bottom: 21px;
      }

      & .schedule {
        margin-bottom: 31px;

        & a {
          text-decoration-line: underline;
        }
      }
    }

    & form {
      & input[type='text'],
      input[type='tel'],
      input[type='email'],
      textarea {
        border: 0;
        border-radius: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 0);
        display: block;
        width: 100%;
        resize: none;
        border-bottom: 1px solid $text-color;

        &::placeholder {
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0.888889px;
          color: $gold-color;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      & input[type='text'],
      input[type='tel'],
      input[type='email'] {
        height: 31px;
        line-height: 30px;
        margin-bottom: 20px;
      }

      & textarea {
        height: 65px;
      }

      & input[type='submit'] {
        border: 0;
        margin: 0;
        padding: 0;
        border-radius: 0;
        background: none;
        margin-top: 55px;
        width: 100%;
        height: 40px;
        border: 1px solid $text-color;
        font-weight: $Semi-bold;
        font-size: 12px;
        line-height: 38px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $text-color;

        &:hover {
          background-color: $text-color;
          color: $white-text;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }

  & .map {
    flex: 0 0 61%;
  }
}
