.home-carousel-card {
  height: 980px;
  overflow: hidden;
  position: relative;

  & .img-block {
    height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      display: block;
      width: auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .info-block {
    position: absolute;
    z-index: 2;
    top: 48%;
    transform: translateY(-50%);
    padding-left: 5%;
    color: $white-text;
    width: 67.7%;

    & .info {
      display: flex;
      margin-bottom: 50px;

      & .main-info {
        flex: 0 0 58.7%;
        margin-right: 24px;

        & .title-block {
          & .title {
            margin: 0;
            font-family: $HeadingPro;
            font-style: normal;
            font-weight: $bold;
            font-size: 68px;
            line-height: 80px;
            letter-spacing: 6px;

            & strong {
              color: $gold-color;
            }
          }

          & .subtitle {
            font-weight: 500;
            font-size: 30px;
            line-height: 37px;
            letter-spacing: 1px;
            margin-top: 24px;
          }
        }
      }

      & .text-block {
        flex: 0 0 36.4%;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 1px;
        color: #eceae5;

        & p:last-child {
          margin: 0;
        }
      }
    }

    & .btn-block {
      display: flex;
      align-items: center;

      & .btn {
        min-width: 268px;
        margin-right: 24px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
