.menu {
  position: absolute;
  z-index: 10;
  right: 0;
  width: 120px;
  height: 100vh;
  min-height: 980px;
  background-color: #fff;
  transition: 0.4s;
  overflow: hidden;
  display: flex;

  &:before {
    content: '';
    width: 40.6%;
    height: 100%;
    background-image: url('../images/menu-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  & .nav-block {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12% 0 5%;
    position: relative;
    z-index: 2;

    & nav {
      flex: 0 0 45%;

      & ul {
        & li {
          & a {
            font-family: $HeadingPro;
            font-weight: $Regular;
            font-size: 36px;
            line-height: 60px;
            color: $text-color;
            transition: 0.3s;

            &:hover {
              color: $gold-color;
              padding-left: 5px;
            }
          }

          & .active {
            font-weight: $bold;
            color: $gold-color;
            display: flex;
            align-items: center;

            &:hover {
              padding-left: 0;
            }

            &:before {
              display: inline-block;
              content: '';
              width: 60px;
              height: 3px;
              background-color: $gold-color;
              margin-right: 7px;
            }
          }
        }
      }
    }

    & .img {
      flex: 0 0 53.5%;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

.menu-open {
  width: 100vw;
  box-shadow: 0px 2px 4px rgba(44, 43, 43, 0.4);

  &:before {
    right: 120px;
  }

  & ~ .header-wrapper {
    & .header {
      & .logo .logo-text span {
        color: $text-color;
        transition: 0.5s;
      }

      & .adress {
        display: none;
        margin: 0;
      }

      & .btn-header {
        display: none;
      }

      & .btn-menu-open {
        display: block;
        margin-right: 65px;
      }

      & .btn-account {
        display: none;
      }

      & .basket {
        display: none;
      }
    }
  }
}

.menu-backdrop {
  box-sizing: border-box;
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(44, 43, 43, 0.4);
  z-index: 9;
}

.menu-backdrop-view {
  display: block;
}

.menu-aside {
  width: 120px;
  height: 100%;
  background-color: $text-color;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;

  & .social {
    width: 120px;
    height: 100%;
    overflow: hidden;

    & ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-90deg);

      & li {
        margin-right: 41px;

        &:last-child {
          margin-right: 0;
        }
      }

      & a {
        font-family: $HeadingPro;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.205882px;
        color: #656567;
        transition: 0.3s;

        &:hover {
          color: $white-text;
        }
      }
    }
  }

  & .btn-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 53px;
    cursor: pointer;
  }
}
