.our-card {
  & .img-block {
    display: block;
    border: 1px solid #eceae5;
    height: 311px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
    overflow: hidden;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
    }

    &:hover {
      & img {
        transform: scale(1.04);
      }
    }
  }

  & .card-info {
    & .title {
      margin-bottom: 17px;

      a {
        font-weight: $Semi-bold;
        font-size: 26px;
        line-height: 40px;
        letter-spacing: -0.5px;
        color: $text-color;
        transition: 0.3s;

        &:hover {
          color: $gold-color;
        }
      }
    }

    & .sub-title {
      font-weight: $Semi-bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.1px;
      color: #ccb48a;
    }

    & .prod_short_desc {
      margin-bottom: 15px;
      height: 96px;
      overflow: hidden;

      & p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    & .quantity-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 0;
      border-top: 1px solid #eeece8;
      border-bottom: 1px solid #eeece8;
      margin-bottom: 30px;

      & .text {
        font-weight: $Semi-bold;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $gold-color;
      }

      & label {
        display: none;
      }

      & .counter {
        display: flex;
        align-items: center;

        & input {
          border: 0;
          padding: 0 16px;
          font-weight: $Semi-bold;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #2c2b2b;
        }

        & .regulator {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          background: #f3f5f5;
          border-radius: 1px;
          font-weight: $medium;
          cursor: pointer;

          &:hover {
            background: #ccb48a;
            color: $white-text;
          }
        }
      }
    }

    & .info-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .price {
        font-weight: $Semi-bold;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
      }

      & .added_to_cart {
        display: none;
      }

      & .button {
        margin: 0;
        padding: 0;
        border-radius: 0;
        width: 59.8%;
        height: 50px;
        border: 1px solid $text-color;
        line-height: 48px;
        font-weight: $Semi-bold;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $text-color;
        text-align: center;

        &:focus {
          outline: none;
          box-shadow: none;
        }

        &:hover {
          border: 1px solid $gold-color;
          color: $text-color;
        }
      }
    }
  }

  & .modal {
    & .modal-dialog {
      max-width: 706px;
      width: 706px;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
      border-radius: 2px;

      & .modal-content {
        border: 0;
        position: relative;
        padding-bottom: 46px;

        & .close {
          position: absolute;
          right: 0;
          top: -30px;
          color: $gold-color;
          font-weight: 300;
          font-size: 40px;
          line-height: 30px;
          overflow: hidden;
          z-index: 3;
          text-shadow: none;
        }

        & .img-block {
          border: 0;
          height: 400px;
          margin-bottom: 7px;
          display: flex;
          justify-content: center;
          align-items: center;

          & img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        & .model_prod_title {
          font-weight: $Semi-bold;
          font-size: 24px;
          line-height: 40px;
          letter-spacing: -0.5px;
          color: $text-color;
          padding: 0 49px;
        }

        & p {
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -0.1px;
          padding: 0 49px;
        }

        & .quantity-block {
          margin: 0 49px 34px 49px;
        }

        & .btn-block {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 49px;

          & .price {
            font-weight: $Semi-bold;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
          }

          & .added_to_cart {
            display: none;
          }

          & > a {
            font-weight: $Semi-bold;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #979797;
            transition: 0.3s;

            &:hover {
              color: $gold-color;
            }
          }

          & .button {
            margin: 0;
            padding: 0;
            border-radius: 0;
            width: 248px;
            height: 50px;
            border: 1px solid $text-color;
            line-height: 48px;
            font-weight: $Semi-bold;
            font-size: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $text-color;
            text-align: center;

            &:focus {
              outline: none;
              box-shadow: none;
            }

            &:hover {
              border: 1px solid $gold-color;
              color: $text-color;
            }
          }
        }
      }
    }
  }

  & .show {
    backdrop-filter: blur(12px);
  }
}
