.wine-club-block {
  min-height: 788px;
  background-color: $text-color;
  margin: 96px 0;
  position: relative;
  display: flex;
  align-items: center;

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  & .info-block {
    flex: 0 0 41%;
    padding-left: 8.5%;
    font-size: 18px;
    line-height: 32px;
    color: $white-text;
    position: relative;
    z-index: 2;

    & p {
      margin: 0;
    }

    & .title {
      font-family: $HeadingPro;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 70px;
      letter-spacing: -0.705882px;
      color: $gold-color;
      margin-bottom: 40px;
    }

    & .btn {
      width: 48%;
      margin-top: 50px;
    }
  }
}
