.btn {
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-gold-transparent {
  height: 40px;
  border: 1px solid $gold-color;
  font-weight: $Semi-bold;
  font-size: 12px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white-text;

  &:hover {
    background-color: $gold-color;
    color: $white-text;
  }
}

.btn-black-transparent {
  height: 40px;
  border: 1px solid $text-color;
  font-weight: $Semi-bold;
  font-size: 12px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $text-color;

  &:hover {
    background-color: $text-color;
    color: $white-text;
  }
}

.btn-gold {
  height: 26px;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 2.66667px;
  text-transform: uppercase;
  color: $gold-color;
  border-bottom: 2px solid $gold-color;
  text-align: left;
}
