@font-face {
  font-family: 'Heading Pro';
  src: url('../fonts/Heading-Pro-UltraWide-Bold-trial.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Heading Pro';
  src: url('../fonts/Heading-Pro-UltraWide-Book-trial.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
