.header-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.account-menu {
  width: 0vw;
  min-height: 980px;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transition: 0.3s;
  padding: 248px 0 0 0;
  overflow: hidden;

  & .btn-close-mobile {
    display: none;
  }

  & p {
    font-family: $HeadingPro;
    font-weight: $bold;
    font-size: 20px;
    line-height: 32px;
    color: $text-color;
    margin-bottom: 28px;

    & a {
      display: block;
      color: $gold-color;
    }
  }

  & .btn-block {
    & .btn {
      width: 100%;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.account-menu-open {
  width: 26.5vw;
  height: 100vh;
  padding: 248px 97px 0 79px;

  & ~ .header .btn-account span {
    color: $text-color;
  }
}

.basket-menu {
  width: 0vw;
  min-height: 980px;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transition: 0.3s;
  padding: 180px 0 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  & .basket-menu-list {
    flex-grow: 1;
    overflow-y: scroll;
    padding-right: 40px;
    margin-bottom: 30px;

    & .basket-menu-item {
      display: flex;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }

      & .img-block {
        flex: 0 0 42%;
        height: 105px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 18px;

        & img {
          display: block;
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }

      & .basket-menu-info {
        & .title {
          margin: 0;
          height: 36px;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          color: $text-color;
          overflow: hidden;
          margin-bottom: 5px;
        }

        & .price {
          display: block;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #6b0d36;
          margin-bottom: 5px;
        }

        & .quantity {
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;
          color: $text-color;
        }

        & .btn-remove {
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #656567;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            color: $gold-color;
          }
        }
      }
    }
  }

  & .btn {
    width: calc(100% - 40px);
  }
}

.basket-menu-open {
  width: 26.5vw;
  height: 100vh;
  padding: 180px 46px 40px 40px;

  & ~ .header .btn-account span {
    color: $text-color;
  }
}

.btn-menu-wrapper {
  width: 120px;
  height: 140px;
  background-color: $text-color;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  & .btn-menu {
    height: 21px;
    width: 48px;
    position: absolute;
    top: 53px;
    right: 36px;
    z-index: 12;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;

    & .bar {
      opacity: 0.7;

      &,
      &::before,
      &::after {
        transition: 0.2s linear 0.1s, 0.2s top linear 0.2s,
          0.2s transform linear;
        position: absolute;
        background: $gold-color;
        width: 100%;
        height: 3px;
        content: '';
        top: 50%;
        right: 0;
      }

      &::before {
        top: -10px;
      }

      &::after {
        top: 10px;
        width: 50%;
      }

      &::before,
      &::after {
        transform: rotate(0deg);
      }
    }

    &:hover .bar {
      opacity: 1;

      &:after {
        width: 100%;
      }
    }
  }

  .btn-menu-active .bar {
    background: 0;

    &::before {
      transform: rotate(45deg);
      background: $gold-color;
    }

    &::after {
      transform: rotate(-45deg);
      background: $gold-color;
      width: 100%;
    }

    &::before,
    &::after {
      top: 0;
    }

    &,
    &::before,
    &::after {
      transition: 0.2s background linear 0.1s, 0.2s top linear,
        0.2s transform linear 0.2s;
    }
  }
}

.header {
  display: flex;
  padding: 44px 165px 0 5%;

  & .logo {
    margin-right: auto;
  }

  & .adress {
    flex: 0 0 25%;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
    color: $gold-color;
  }

  & .btn {
    width: 12.35%;
    margin-left: 1.5%;
  }

  & .btn-menu-open {
    display: none;
  }

  & .btn-account {
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 3.19%;
    cursor: pointer;
    position: relative;
    z-index: 2;

    & svg {
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 14px;
    }

    & span {
      font-weight: 600;
      font-size: 11px;
      line-height: 30px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $white-text;
    }
  }

  & .btn-basket {
    display: block;
    height: 30px;
    margin-left: 3.55%;
    position: relative;
    z-index: 2;
    cursor: pointer;

    & svg {
      display: block;
      width: 32px;
      height: 29px;
      fill: #ccb48a;
    }

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: $text-color;
      font-weight: bold;
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
      color: $beige-color;
      position: absolute;
      right: -7px;
      bottom: -9px;
    }
  }
}

.additional-page {
  & .menu {
    width: 0;

    & .menu-aside {
      width: 0;
    }
  }

  .menu-open {
    width: 100vw;

    & .menu-aside {
      width: 120px;
    }
  }

  & .header-wrapper {
    position: relative;
    background-color: #fff;

    & .btn-menu-wrapper {
      width: 140px;
      height: 140px;
      background-image: url('../images/bg-menu-icon.jpg');

      & .btn-menu {
        & .bar {
          opacity: 0.7;

          &,
          &::before,
          &::after {
            background: $text-color;
          }
        }

        &:hover .bar {
          opacity: 1;

          &:after {
            width: 100%;
          }
        }
      }

      & .btn-menu-active .bar {
        background: 0;

        &::before {
          transform: rotate(45deg);
          background: $text-color;
        }

        &::after {
          transform: rotate(-45deg);
          background: $text-color;
          width: 100%;
        }

        &::before,
        &::after {
          top: 0;
        }

        &,
        &::before,
        &::after {
          transition: 0.2s background linear 0.1s, 0.2s top linear,
            0.2s transform linear 0.2s;
        }
      }
    }

    & .account-menu,
    .basket-menu {
      z-index: 0;
    }

    & .header {
      padding: 17px 185px 17px 5%;
      align-items: center;
      position: relative;
      border-bottom: 1px solid #eceae5;

      & .logo .logo-text span {
        color: $text-color;
      }

      & .btn-header {
        color: $text-color;
      }

      & .btn-account span {
        color: $text-color;
      }

      & .btn-basket {
        & svg {
          fill: $text-color;
        }
      }
    }
  }
}
