.header-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}

.header {
  display: flex;
  padding: 44px 165px 44px 5%;

  & .logo {
    margin-right: auto;
  }

  & p {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 1px;
    color: $gold-color;
  }

  & .btn {
    width: 11.86%;
    margin-left: 12%;
  }

  & .btn-account {
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 36px;
    cursor: pointer;

    & img {
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 14px;
    }

    & span {
      font-weight: 600;
      font-size: 11px;
      line-height: 30px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $white-text;
    }
  }

  & .basket {
    display: block;
    height: 30px;
    margin-left: 2.8%;
    position: relative;

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: $text-color;
      font-weight: bold;
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
      color: $beige-color;
      position: absolute;
      right: -7px;
      bottom: -9px;
    }
  }
}
