/* base */

@media (min-width: 2560px) {
  .home-container {
    width: 2560px;
  }
}

@media (max-width: 2559px) {
  .home-container {
    width: 1920px;
  }
}

@media (max-width: 1919px) {
  .home-container {
    width: 1200px;
    padding: 0 30px;
  }
}

@media (max-width: 1199px) {
  .home-container {
    width: 992px;
  }
}

@media (max-width: 991px) {
  .home-container {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .home-container {
    width: 576px;
    padding: 0 20px;
  }
}

@media (max-width: 575px) {
  .home-container {
    width: auto;
  }
}

/* btn */

@media (min-width: 2560px) {
  .btn-gold-transparent,
  .btn-black-transparent {
    height: 54px;
    font-size: 14px;
    line-height: 52px;
    letter-spacing: 2px;
  }
}

@media (max-width: 1919px) {
  .btn-gold-transparent {
    height: 30px;
    font-size: 10px;
    line-height: 28px;
    letter-spacing: 1.66667px;
  }

  .btn-black-transparent {
    height: 30px;
    font-size: 10px;
    line-height: 28px;
    letter-spacing: 2px;
  }

  .btn-gold {
    height: 22px;
    font-size: 10px;
    line-height: 21px;
    letter-spacing: 1.66667px;
  }
}

/* header */

@media (min-width: 2560px) {
  .header {
    display: flex;
    padding: 59px 220px 59px 5%;

    & .btn {
      width: 12.5%;
      margin-left: 21%;
    }

    & .basket {
      flex: 0 0 42px;
      height: 38px;

      & img {
        display: block;
        height: 100%;
        object-fit: cover;
      }

      & span {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media (max-width: 1919px) {
  .header {
    display: flex;
    padding: 44px 140px 44px 5%;

    & .logo {
      margin-right: 8%;
    }

    & .btn {
      font-size: 12px;
    }

    & .basket {
      margin-left: 6%;
    }
  }
}

@media (max-width: 1365px) {
  .header {
    & .logo {
      margin-right: auto;
    }

    & p {
      display: none;
    }
  }
}

@media (max-width: 1199px) {
  .header {
    padding: 30px 90px 30px 30px;

    & .btn {
      min-width: 173px;
    }

    & .basket {
      width: 23px;
      height: 22px;
      margin-left: 30px;

      & img {
        display: block;
        width: 100%;
        height: 100%;
      }

      & span {
        width: 14px;
        height: 14px;
        font-size: 9px;
        line-height: 14px;
        right: -5px;
        bottom: -8px;
        opacity: 1;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding: 15px 75px 15px 15px;

    & .logo {
      flex: 0 0 55px;

      & .logo-img {
        width: 55px;
        margin: 0;

        & img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      & .logo-text {
        display: none;
      }
    }

    & .btn {
      margin: 0;
      display: none;
    }
  }
}

/* footer */

@media (min-width: 2560px) {
  .footer {
    padding: 120px 0 104px 7.6%;

    & .logo {
      margin-right: 146px;

      .logo-img {
        width: 91px;
        height: 96px;
      }
    }

    & .social {
      margin-right: 146px;

      & ul li {
        margin-bottom: 20px;

        & a {
          font-size: 16px;
          line-height: 19px;
          letter-spacing: -0.176471px;
        }
      }
    }

    & .footer-nav {
      & .nav {
        margin-bottom: 34px;

        & ul {
          & li {
            margin-right: 107px;

            & a {
              font-size: 14px;
              line-height: 16px;
              letter-spacing: -0.176471px;
            }
          }
        }
      }

      & .copyright-block {
        padding-top: 34px;

        & a {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }

    & .to-top {
      & span {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: -0.205882px;
      }
    }
  }
}

@media (max-width: 1919px) {
  .footer {
    padding: 36px 30px 36px 30px;

    & .logo {
      margin-right: 50px;

      & .logo-text span {
        font-size: 10px;
        line-height: 22px;
      }
    }

    & .social {
      margin-right: 50px;

      & ul li {
        margin-bottom: 5px;

        & a {
          font-size: 10px;
          line-height: 12px;
          letter-spacing: -0.147059px;
        }
      }
    }

    & .footer-nav {
      & .nav {
        margin-bottom: 18px; //

        & ul {
          & li {
            margin-right: 60px; //

            & a {
              font-size: 10px;
              line-height: 12px;
              letter-spacing: -0.147059px;
            }
          }
        }
      }

      & .copyright-block {
        padding-top: 16px;

        & a {
          margin-right: 60px; //
          font-size: 11px;
          line-height: 13px;
        }
      }
    }

    & .to-top {
      & span {
        font-size: 11px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .footer {
    padding: 36px 0 72px 0;
    justify-content: space-between;

    & .social {
      display: none;
    }

    & .footer-nav {
      & .nav {
        margin: 0;

        & ul li {
          margin-right: 30px;
        }
      }

      & .copyright-block {
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 17px;
        padding-top: 12px;

        & a {
          margin-right: 30px;
        }
      }
    }

    & .to-top {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    & .logo {
      margin: 0;
      display: block;
      width: 100%;
      text-align: center;

      & .logo-img {
        margin: 0 auto 8px auto;
      }

      & .logo-text {
        & br {
          display: none;
        }

        & span {
          font-size: 8px;
          line-height: 22px;

          & .logo-mobile {
            display: inline;
          }
        }
      }
    }

    & .footer-nav {
      & .nav {
        display: none;
      }

      & .copyright-block {
        flex-wrap: wrap;

        & a {
          margin: 0;
          line-height: 20px;
          text-align: center;

          &:first-child {
            margin-right: 17px;
          }

          &:last-child {
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}

/* about-us-block */

@media (min-width: 2560px) {
  .about-us-block {
    padding: 307px 3% 307px 0;

    & .title {
      font-size: 54px;
      line-height: 75px;
      letter-spacing: -0.705882px;
      top: 227px;
    }

    & .img-bi {
      height: 518px;
      bottom: 137px;
    }

    & .content {
      flex: 0 0 39%;
      font-size: 20px;
      line-height: 32px;
    }
  }
}

@media (max-width: 1919px) {
  .about-us-block {
    padding: 66px 0 60px 0;

    & .title {
      width: 35%;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.294118px;
      top: 35px;
      z-index: 4;
    }

    & .img-bi {
      width: 16%;
      height: 230px;
      bottom: 35px;
    }

    & .img-block {
      padding: 0 0 0 3.75%;
    }

    & .content {
      flex: 0 0 29.7917%;
      font-size: 13px;
      line-height: 18px;

      & .btn-block {
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .about-us-wrapper {
    &:before {
      width: 41.937vw;
      height: 100%;
    }
  }

  .about-us-block {
    align-items: flex-end;

    & .title {
      top: 41px;
    }

    & .img-bi {
      width: 135px;
      height: 126px;
      bottom: 30px;
    }

    & .img-block {
      flex: 0 0 49.71%;
      position: relative;
      padding: 0 0 0 30px;
      margin-right: 0;

      & img {
        display: block;
        width: 100%;
      }
    }

    & .content {
      flex: 0 0 47.175%;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: -0.275px;

      & .btn-block {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .about-us-wrapper {
    &:before {
      width: 100vw;
      height: 270px;
    }
  }

  .about-us-block {
    display: block;
    padding: 40px 0 0 0;

    & .title {
      width: 100%;
      top: 16px;
    }

    & .img-bi {
      top: 117px;
    }

    .img-block {
      margin-bottom: 67px;
      height: 180px;
      padding: 0 0 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & .content {
      & .btn-block {
        display: block;
        margin-top: 21px;

        & .btn {
          display: block;
          width: 100%;
          margin-bottom: 6px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

/* card */

@media (min-width: 2560px) {
  .card {
    & .card-img {
      height: 485px;
    }

    .card-info {
      padding: 110px 53px 40px 53px;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.1px;

      & .sticker {
        position: absolute;
        left: 53px;
        top: -71px;
      }

      & .title {
        margin-bottom: 27px;

        & a {
          font-size: 36px;
          line-height: 40px;
          letter-spacing: -0.5px;
        }
      }

      & p {
        height: 78px;
        margin-bottom: 39px;
      }
    }
  }
}

@media (max-width: 1919px) {
  .card {
    & .card-img {
      height: 220px;
    }

    & .card-info {
      padding: 42px 25px 25px 25px;
      font-size: 13px;
      line-height: 17px;
      letter-spacing: -0.0625px;

      & .sticker {
        position: absolute;
        left: 15px;
        top: -27px;
      }

      & .title {
        margin-bottom: 10px;

        & a {
          height: 56px;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.220588px;
        }
      }

      & p {
        height: 55px;
        margin-bottom: 20px;
      }

      & .btn {
        min-width: 50%;
      }
    }

    &:hover {
      & .card-img img {
        transform: scale(1.04);
      }
    }
  }
}

@media (max-width: 1199px) {
  .card {
    & .card-img {
      height: 150px;
    }

    & .card-info {
      padding: 42px 12px 15px 12px;

      & .title a {
        height: 44px;
      }

      & p {
        height: 45px;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: -0.0625px;
      }

      & .btn {
        min-width: 161px;
      }
    }
  }
}

@media (max-width: 767px) {
  .card {
    & .card-img {
      height: 181px;
    }

    & .card-info {
      padding: 43px 23px 20px 23px;

      & .sticker {
        position: absolute;
        left: 23px;
      }

      & p {
        margin-bottom: 11px;
      }

      & .btn {
        width: 100%;
      }
    }
  }
}

/* carousel */

@media (min-width: 2560px) {
  .home-carousel {
    width: calc(100vw - 160px);

    & .owl-nav {
      & .owl-prev,
      .owl-next {
        width: 80px;
        height: 80px;

        &:before {
          display: block;
          content: '';
          width: 14px;
          height: 26px;
          opacity: 0.8;
          background-size: cover;
        }
      }
    }
  }
}

@media (max-width: 1919px) {
  .home-carousel {
    & .owl-nav {
      & .owl-prev,
      .owl-next {
        width: 40px;
        height: 40px;

        &:before {
          width: 7px;
          height: 13px;
        }
      }
    }

    & .owl-dots {
      bottom: 46px;

      & .active {
        height: 3px;
      }
    }
  }

  .our-dishes-carousel {
    & .owl-nav {
      & .owl-prev,
      .owl-next {
        &:before {
          width: 30px;
          height: 9px;
        }

        &:after {
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 2px;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .home-carousel {
    width: calc(100vw - 60px);

    & .owl-dots {
      bottom: 46px;

      & .owl-dot {
        flex: 0 0 25%;
      }
    }
  }
}

@media (max-width: 767px) {
  .home-carousel {
    width: 100vw;

    .owl-dots {
      bottom: 14px;

      & .owl-dot {
        flex: 0 0 31.5%;
      }

      & .active {
        flex: 0 0 31.5%;
      }
    }
  }

  .our-dishes-carousel {
    & .owl-nav {
      position: absolute;
      bottom: -40px;
      left: 0;
      right: 0;

      & .owl-prev,
      .owl-next {
        &:before {
          width: 30px;
          height: 9px;
        }

        &:after {
          display: none;
        }
      }
    }

    & .owl-dots {
      bottom: -40px;
    }
  }
}

/* contact-block */

@media (min-width: 2560px) {
  .contact-block {
    & .contact-info {
      padding: 88px 6.65% 67px 8.5%;

      & .title {
        font-size: 40px;
        line-height: 70px;
        letter-spacing: -0.529412px;
        margin-bottom: 34px;
      }

      & .contact {
        margin-bottom: 40px;

        & .adress,
        .schedule,
        .phone {
          font-size: 24px;
          line-height: 26px;
          letter-spacing: 1px;

          & a {
            font-size: 24px;
            line-height: 26px;
            letter-spacing: 1px;
          }
        }

        & .adress,
        .schedule {
          margin-bottom: 41px;
        }
      }

      & form {
        & input[type='text'],
        input[type='tel'],
        input[type='email'] {
          height: 42px;
          line-height: 41px;
          margin-bottom: 42px;
        }

        & textarea {
          height: 87px;
        }

        & input[type='submit'] {
          margin-top: 59px;
          height: 54px;
          font-size: 14px;
          line-height: 52px;
        }
      }
    }
  }
}

@media (max-width: 1919px) {
  .contact-block {
    padding: 0 0 40px 0;

    &:before {
      transform: translateY(calc(-50% - 20px));
    }

    & .contact-info {
      padding: 27px 30px 57px 30px;

      & .title {
        font-weight: $bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.294118px;
        margin-bottom: 20px;
      }

      & .contact {
        margin-bottom: 34px;

        & .adress,
        .schedule,
        .phone {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.777778px;

          & a {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.777778px;
          }
        }
      }

      & form {
        & input[type='text'],
        input[type='tel'],
        input[type='email'],
        textarea {
          &::placeholder {
            font-size: 12px;
            letter-spacing: 0.666667px;
          }
        }

        & input[type='text'],
        input[type='tel'],
        input[type='email'] {
          height: 29px;
          line-height: 28px;
          margin-bottom: 19px;
        }

        & textarea {
          height: 65px;
        }

        & input[type='submit'] {
          margin-top: 30px;
          height: 30px;
          font-size: 10px;
          line-height: 28px;
          letter-spacing: 1.66667px;
        }
      }
    }

    & .map {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: stretch;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1199px) {
  .contact-block {
    flex-direction: column-reverse;

    & .contact-info {
      & .contact {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        & .adress,
        .schedule,
        .phone {
          flex: 0 0 50%;
        }

        & .adress,
        .schedule {
          margin-bottom: 5px;
        }
      }

      & form {
        padding: 0 40px;
      }
    }

    & .map {
      height: 260px;

      & img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .contact-block {
    &:before {
      display: none;
    }

    & .contact-info {
      padding: 26px 24px 30px 24px;

      & .contact {
        display: block;
        margin-bottom: 28px;

        & .adress,
        .schedule,
        .phone {
          font-size: 13px;
          line-height: 20px;
          letter-spacing: 0.722222px;

          & a {
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0.722222px;
          }
        }

        & .adress,
        .schedule {
          margin-bottom: 19px;
        }
      }

      & form {
        padding: 0;

        & input[type='text'],
        input[type='tel'],
        input[type='email'],
        textarea {
          &::placeholder {
            font-size: 12px;
            letter-spacing: 0.666667px;
          }
        }

        & input[type='submit'] {
          margin-top: 24px;
        }
      }
    }
  }
}

/* instagram-block */

@media (min-width: 2560px) {
  .instagram-block {
    & .title {
      & a {
        font-size: 46px;
        line-height: 70px;
        letter-spacing: 1.66667px;
      }
    }

    & .gallery-collage .gallery-collage-list .list-box-2 .list-item .link {
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 1px;
    }
  }
}

@media (max-width: 1919px) {
  .instagram-block {
    padding: 59px 0 48px 0;

    & .title {
      & a {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.75px;
      }
    }

    & .gallery-collage {
      margin-top: 0;
    }

    & .gallery-collage .gallery-collage-list .list-box-2 .list-item .link {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.583333px;
      min-width: 78%;
    }
  }
}

@media (max-width: 767px) {
  .instagram-block {
    padding: 30px 0;

    & .title {
      display: none;
      margin: 0;
    }

    & .gallery-collage {
      & .gallery-collage-main {
        display: none;
      }

      & .gallery-collage-list {
        flex: 0 0 100%;
        position: relative;

        & .list-box-1 {
          flex-wrap: wrap;

          & .list-item {
            flex: 0 0 50%;

            &:nth-child(1) {
              flex: 0 0 50%;
            }
          }
        }

        & .list-box-2 {
          & .list-item {
            display: none;

            &:nth-child(3) {
              display: block;
              position: absolute;
              width: 50%;
              right: 0;
              bottom: 0;
              z-index: 1;
            }
          }
        }
      }
    }
  }
}

/* home-slider  */

@media (min-width: 2560px) {
  .home-slider .preview-list {
    bottom: 148px;
  }
}

@media (max-width: 1919px) {
  .home-slider {
    & .preview-list {
      bottom: 73px;

      & .preview-item {
        & .num {
          font-size: 30px;
          line-height: 37px;
          top: -16px;
        }

        & .img {
          height: 50px;
        }

        & .info {
          & .title {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.176471px;
          }

          & .text {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: -0.147059px;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .home-slider {
    & .preview-list {
      width: auto;
      left: 30px;
      right: 90px;
      bottom: 73px;

      & .preview-item {
        display: block;
        flex: 0 0 25%;

        & .img {
          width: 73%;
          height: 64px;
          margin-right: 0;
          margin-bottom: 11px;

          & img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        & .info {
          & .title {
            height: 14px;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: -0.176471px;
            margin-bottom: 8px;
            overflow: hidden;
          }

          & .text {
            height: 12px;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: -0.147059px;
            overflow: hidden;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .home-slider .preview-list {
    display: none;
  }
}

/* home-carousel-card */

@media (min-width: 2560px) {
  .home-carousel-card {
    min-height: 1440px;

    & .info-block {
      & .info {
        margin-bottom: 70px;

        & .main-info {
          & .title-block {
            & .title {
              font-size: 80px;
              line-height: 90px;
              letter-spacing: -1px;
            }
          }

          & .text-block {
            font-size: 28px;
            line-height: 44px;
            letter-spacing: 1px;
          }
        }
      }

      & .btn-block {
        & .btn {
          min-width: 367px;
        }
      }
    }
  }
}

@media (max-width: 1919px) {
  .home-carousel-card {
    min-height: 600px;

    & .img {
      height: 100%;
      height: 100%;

      & img {
        display: block;
        width: auto;
        min-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & .info-block {
      width: 85%;

      & .info {
        margin-bottom: 30px;

        & .main-info {
          flex: 0 0 52%;

          & .title-block {
            & .title {
              font-size: 30px;
              line-height: 40px;
              letter-spacing: -0.441177px;
            }

            & .subtitle {
              font-size: 20px;
              line-height: 24px;
              letter-spacing: 1px;
              margin-top: 14px;
            }
          }
        }

        & .text-block {
          flex: 0 0 41%;
          font-size: 13px;
          line-height: 18px;
          color: #eceae5;
          letter-spacing: 0.541667px;
        }
      }

      & .btn-block {
        & .btn {
          min-width: 142px;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .home-carousel-card {
    height: 600px;

    & .info-block {
      width: 100%;
      padding: 0 90px 0 30px;
      top: 46%;

      & .info {
        & .main-info {
          flex: 0 0 49.66%;
          margin-right: 10.71%;
        }

        .text-block {
          flex: 0 0 39.63%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .home-carousel-card {
    height: 568px;

    & .info-block {
      padding: 0 90px 0 15px;

      & .info {
        display: block;

        & .main-info {
          margin-right: 0;
          margin-bottom: 5px;

          & .title-block {
            & .title {
              font-size: 20px;
              line-height: 30px;
              letter-spacing: -0.294118px;
            }

            & .subtitle {
              font-size: 14px;
              line-height: 18px;
              letter-spacing: -0.294118px;
              margin-top: 3px;
            }
          }
        }

        & .text-block {
          font-size: 11px;
          line-height: 18px;
          letter-spacing: 0.458333px;
        }
      }

      & .btn-block {
        display: block;

        & .btn {
          display: block;
          min-width: 208px;
          margin-right: 0;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

/* logo */

@media (min-width: 2560px) {
  .logo {
    & .logo-img {
      width: 134px;
      height: 141px;
      margin-right: 36px;
    }
  }
}

@media (max-width: 1919px) {
  .logo {
    & .logo-img {
      width: 72px;
      height: 76px;
      margin-right: 10px;
    }

    & .logo-text span {
      font-size: 11px;
      line-height: 17px;
    }
  }
}

/* menu */

@media (min-width: 2560px) {
  .menu {
    min-height: 1440px;
    width: 160px;

    & .btn-down {
      bottom: 60px;

      & img {
        display: block;
        width: 19px;
        height: 56px;
      }
    }
  }

  .menu-open {
    width: 100vw;

    &:before {
      right: 160px;
    }

    & .menu-header {
      padding: 59px 220px 59px 5%;

      & .basket {
        flex: 0 0 42px;
        height: 38px;

        & img {
          display: block;
          height: 100%;
          object-fit: cover;
        }

        & span {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .btn-menu {
    height: 28px;
    width: 64px;
    top: 70px;
    right: 48px;

    & .bar {
      &::before {
        top: -13px;
      }

      &::after {
        top: 13px;
      }
    }
  }

  .btn-menu-active .bar {
    &::before,
    &::after {
      top: 0;
    }
  }

  .menu-aside {
    width: 160px;

    & .social {
      width: 160px;
    }
  }

  .btn-menu {
    top: 60px;
  }
}

@media (max-width: 1919px) {
  .menu {
    min-height: 600px;

    & .menu-header {
      padding: 44px 12% 44px 5%;
    }

    & .nav-block nav ul li {
      & a {
        font-size: 20px;
        line-height: 40px;
      }

      & .active {
        &:before {
          width: 35px;
          height: 1px;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .menu {
    height: 600px;
    width: 60px;

    &:before {
      width: calc(50% - 60px);
    }

    & .menu-header {
      padding: 30px 90px 30px 30px;

      & .btn {
        min-width: 173px;
      }

      & .basket {
        width: 23px;
        height: 22px;
        margin-left: 30px;

        & img {
          display: block;
          width: 100%;
          height: 100%;
        }

        & span {
          width: 14px;
          height: 14px;
          font-size: 9px;
          line-height: 14px;
          right: -5px;
          bottom: -8px;
          opacity: 1;
        }
      }
    }

    & .nav-block {
      padding: 0 90px 0 30px;

      & .img {
        flex: 0 0 53%;
        height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .btn-menu {
    height: 13px;
    width: 30px;
    top: 31px;
    right: 15px;

    & .bar {
      &,
      &::before,
      &::after {
        height: 2px;
      }

      &::before {
        top: -6px;
      }

      &::after {
        top: 6px;
      }
    }
  }

  .btn-menu-active .bar {
    &::before,
    &::after {
      top: 0;
    }
  }

  .menu-aside {
    width: 60px;

    & .social {
      width: 60px;

      & ul li {
        margin-right: 25px;

        & a {
          font-size: 12px;
          line-height: 14px;
          letter-spacing: -0.176471px;
        }
      }
    }

    & .btn-down {
      bottom: 32px;

      & img {
        display: block;
        width: 15px;
        height: 32px;
      }
    }
  }

  .menu-open {
    width: 100vw;

    &:before {
      right: 60px;
    }
  }
}

@media (max-width: 767px) {
  .menu {
    height: 568px;
    width: 0;

    &:before {
      display: none;
    }

    & .menu-header {
      display: block;
      padding: 15px 55px 0 15px;
      margin-bottom: 40px;

      & .logo {
        margin-bottom: 25px;

        & .logo-img {
          width: 55px;
          height: 59px;
        }

        & .logo-text span {
          font-size: 11px;
          line-height: 17px;
        }
      }

      & .btn {
        width: 100%;
        margin-left: 0;
      }

      & .basket {
        margin: 0;
        display: none;
      }
    }

    & .nav-block {
      display: block;

      & nav ul li {
        line-height: 60px;
      }

      & .img {
        display: none;
      }
    }

    & .menu-aside {
      width: 0;

      & .social {
        width: 40px;

        & ul li a {
          font-size: 10px;
          line-height: 12px;
          letter-spacing: -0.147059px;
        }
      }

      & .btn-down {
        display: none;
      }
    }
  }

  .btn-menu {
    top: 18px;
    right: 4px;
  }

  .menu-open {
    width: 100vw;

    & .menu-aside {
      width: 40px;
    }
  }
}

/* our-dishes-block */

@media (min-width: 2560px) {
  .our-dishes-block {
    & .our-dishes {
      min-height: 1302px;

      & .our-dishes-header {
        margin-bottom: 86px;

        & .title {
          min-width: 390px;
          font-size: 54px;
          line-height: 70px;
          letter-spacing: -0.705882px;
        }
      }

      & .our-dishes-tabs {
        & .nav-tabs {
          margin-bottom: 80px;

          & .nav-item .nav-link {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 3.33333px;
          }
        }

        & .tab-content .menu-list ul li {
          margin-bottom: 60px;

          & .title,
          .title a {
            font-size: 26px;
            line-height: 70px;
            letter-spacing: -0.352941px;
            line-height: 40px;
          }

          & .title {
            margin-bottom: 30px;
          }

          & p {
            font-size: 16px;
          }
        }
      }
    }

    & .img-block {
      height: 1302px;

      & .img-bi {
        width: 280px;
        height: 280px;
        left: -140px;
        bottom: -140px;
      }
    }
  }
}

@media (max-width: 1919px) {
  .our-dishes-block {
    padding: 0 0 30px 0;

    & .btn {
      width: 23.8%;
      top: 32px;
    }

    & .our-dishes {
      min-height: 600px;
      padding: 36px 30px 41px 30px;

      & .our-dishes-header {
        margin-bottom: 38px;

        & .title {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.294118px;
        }
      }

      & .our-dishes-tabs {
        & .nav-tabs {
          margin-bottom: 30px;

          & .nav-item {
            padding-bottom: 10px;

            & .nav-link {
              font-size: 14px;
              line-height: 17px;
              letter-spacing: 2.33333px;
            }

            & .active {
              color: $text-color;
              position: relative;
            }
          }
        }

        & .tab-content .menu-list ul li {
          margin-bottom: 38px;

          & .title,
          .title a {
            font-size: 16px;
            letter-spacing: -0.235294px;
            color: $text-color;
            line-height: 30px;
          }

          & .title {
            margin-bottom: 10px;
          }

          & p {
            font-size: 13px;
            line-height: 17px;
          }
        }
      }
    }

    & .img-block {
      height: 600px;
    }

    & .img-bi {
      display: none;
    }
  }
}

@media (max-width: 1199px) {
  .our-dishes-block {
    display: block;

    & .btn {
      right: 0;
      transform: translateX(0);
    }

    & .our-dishes {
      & .our-dishes-header {
        justify-content: space-between;
      }

      & .our-dishes-tabs {
        & .nav-tabs {
          justify-content: center;

          & .nav-item {
            margin-right: 44px;
          }
        }

        & .tab-content .menu-list ul li p {
          font-size: 11px;
          line-height: 16px;
          text-align: justify;
          letter-spacing: -0.275px;
        }
      }
    }

    & .img-block {
      display: none;
      padding: 0;
    }
  }
}

@media (max-width: 767px) {
  .our-dishes-block {
    & .btn {
      position: relative;
      width: calc(100% - 43px);
      left: 50%;
      transform: translateX(-50%);
      top: 81px;
    }

    & .our-dishes {
      padding: 25px 20px 60px 23px;

      & .our-dishes-header {
        display: block;
        margin-bottom: 53px;

        & .title {
          margin-bottom: 10px;
        }
      }

      & .our-dishes-tabs {
        & .nav-tabs {
          margin-bottom: 23px;

          & .nav-item {
            margin-right: 15px;

            & .nav-link {
              font-size: 12px;
              line-height: 15px;
              letter-spacing: 2px;
            }
          }
        }

        & .tab-content .menu-list ul li {
          margin-bottom: 9px;

          & .title,
          .title a {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.205882px;
          }

          & .title {
            margin-bottom: 5px;
          }

          & p {
            font-size: 10px;
            line-height: 16px;
            letter-spacing: -0.25px;
          }
        }
      }
    }
  }
}

/* special-offers-block */

@media (min-width: 2560px) {
  .special-offers-block {
    & .special-offers-header {
      & .title {
        font-size: 54px;
        line-height: 70px;
        letter-spacing: -0.705882px;
      }
    }
  }
}

@media (max-width: 1919px) {
  .special-offers-block {
    & .special-offers-header {
      margin-bottom: 19px;

      & .title {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.294118px;
      }

      & .btn {
        flex: 0 0 183px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .special-offers-block .special-offers-list .special-offers-item {
    flex: 0 0 32.8%;
    margin-right: 0.8%;
  }
}

@media (max-width: 767px) {
  .special-offers-block {
    position: relative;
    padding-bottom: 30px;

    & .special-offers-header {
      & .btn {
        width: 84%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 1;
      }
    }

    & .special-offers-list {
      & .special-offers-item {
        flex: 0 0 100%;
        margin: 0;

        &:nth-child(n + 2) {
          display: none;
        }
      }
    }
  }
}

/* sticker*/

@media (min-width: 2560px) {
  .sticker {
    width: 223px;
    height: 144px;

    & > span {
      width: 32px;
      margin: 0 20px;
    }
  }
}

@media (max-width: 1919px) {
  .sticker {
    width: 69px;
    height: 55px;

    & .date {
      & .data {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.264706px;
      }

      & .month {
        font-size: 9px;
        line-height: 12px;
        letter-spacing: -0.132353px;
      }
    }

    & > span {
      width: 10px;
      margin: 0 3px;
    }
  }
}

/* wine-club-block */

@media (min-width: 2560px) {
  .wine-club-block {
    min-height: 1058px;

    & .info-block {
      & p {
        font-size: 24px;
        line-height: 32px;
      }

      & .title {
        font-size: 54px;
        line-height: 70px;
        letter-spacing: -0.705882px;
        margin-bottom: 90px;
      }

      & .btn {
        margin-top: 100px;
      }
    }
  }
}

@media (max-width: 1919px) {
  .wine-club-block {
    margin: 30px 0;
    min-height: 520px;

    & .info-block {
      flex: 0 0 40%;
      padding-left: 30px;
      font-size: 13px;
      line-height: 18px;

      & .title {
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.235294px;
        color: $gold-color;
        margin-bottom: 13px;
      }

      & .btn {
        margin-top: 13px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .wine-club-block {
    min-height: 322px;

    & .info-block {
      flex: 0 0 46%;
      font-size: 11px;
      line-height: 16px;
      text-align: justify;
      letter-spacing: -0.275px;

      & .title {
        font-size: 16px;
        line-height: 24px;
      }

      & .btn {
        min-width: 143px;
        margin-top: 13px;
      }
    }
  }
}

@media (max-width: 767px) {
  .wine-club-block {
    margin: 20px 0;
    height: 323px;

    & .info-block {
      flex: 0 0 83%;
      padding-left: 23px;
    }

    & .btn {
      min-width: 208px;
      margin-top: 16px;
    }
  }
}
