/* Colors */

$white: #fff;
$black: #000;
$black-text: #000;
$white-text: #fff;
$text-color: #2c2b2b;
$gold-color: #ccb48a;
$beige-color: #f1e9db;

$red-color: #db4f4f; //

/* Fonts */

$Montserrat: 'Montserrat', sans-serif;
$HeadingPro: 'Heading Pro', sans-serif;

$light: 300;
$Regular: 400;
$medium: 500;
$Semi-bold: 600;
$bold: 700;

/* title */

$h1: 29px;
$h2: 28px;
$h3: 25px;
$h4: 19px;
$h5: 15px;
$h6: 13px;

/* font-text */

$font-text: 16px;
